<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="generator" content={Astro.generator}>
	<title>Shanshal</title>
</head>
<body>
	<h1>
		<a href="/">Home</a>
<a href="/about/">About</a>
		Shanshal
	</h1>
</body>
</html>