---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects — Shanshal">
	<h1>Projects</h1>
	<p>A list of things I'm working on.</p>
	<ul>
		<li>Personal site (this one)</li>
	</ul>
</Layout>
