---
const links = [
	{ href: "/", label: "Home" },
	{ href: "/about/", label: "About" },
	{ href: "/projects/", label: "Projects" },
];
---

<nav>
	{links.map(({ href, label }) => <a href={href}>{label}</a>)}
</nav>
